
@{
    ViewBag.Title = "Index";
}

<h2>LIst</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>



        <table class="table" id="sysUserList">
        </table>
<div class="pull-right">
    <ul id="pagination"></ul>
</div>
        @section FootScripts {
<script src="/plugins/bootstrap-paginator.js"></script>

        <script type="text/javascript">
         
            $(function () {
                // getUser();
                getUserByAjax();
            });
        //Ajax请求
        var getUserByAjax = function (pageNumber) {

            $.ajax({
                url: "/User/AjaxPage?page=" + pageNumber,
                type: "POST",
                dataType: "json",
                success: function (data) {
                    //接收数据（data）并绑定
                    var html = "";
                    $.each(data.sysUsers, function (i, item) {
                        html += "<tr><td>" + item.ID+"</td><td>" + item.UserName + "</td><td>" + item.Password + "</td><td>" + item.Email +
                            "</td><td><a href='/User/Edit/" + item.ID + "'>Edit</a> | <a href='/User/Details/" +
                            item.ID + "'>Details</a> | <a href='/User/Delete/" + item.ID + "'>Delete</a></td></tr>";
                    });
                    $("#sysUserList").html(html);
                    var pager = data.pager;
                    var currentPage = pager.PageNumber ;
                    var totalPages = pager.PageCount ;
                    var options = {
                        currentPage: currentPage, //当前页
                        totalPages: totalPages, //总页数
                        numberOfPages: 3, //设置控件显示的页码数
                        bootstrapMajorVersion: 3,//如果是bootstrap3版本需要加此标识，并且设置包含分页内容的DOM元素为UL,如果是bootstrap2版本，则DOM包含元素是DIV
                        useBootstrapTooltip: false,//是否显示tip提示框
                        itemTexts: function (type, page, current) {//文字翻译
                            switch (type) {
                                case "first":
                                    return "首页";
                                case "prev":
                                    return "上一页";
                                case "next":
                                    return "下一页";
                                case "last":
                                    return "尾页";
                                case "page":
                                    return page;
                            }
                        },
                        onPageClicked: function (event, originalEvent, type, page) {
                            getUserByAjax(page);
                        }
                    }
                    $('#pagination').bootstrapPaginator(options);
                },
                error: function (result) {
                    alert(result.statusText);
                },
                complete: function (jqXHR) {
                    jqXHR = null;                  
                }
               
               
            });
        }

    </script>
}