@{
    ViewBag.Title = "组织架构";
}
@section Topcss {
    <link href="~/plugins/bootstrap-validator/css/bootstrapValidator.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/iCheck/square/green.css" rel="stylesheet" type="text/css" />
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @ViewBag.Title
        <small>@ViewBag.smallTitle</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-3">
            <div class="box box-primary">
                <div class="box-body">
                    <div id="DepartmentTreeview"></div>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-xs-9">
            <form class="form-horizontal" id="DepartmentFrom" method="post">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" id="AddNextDepartment" name="DepartmentBtn" onclick="departmentaction(this, 'addnext')"> <i class=" fa fa-plus"></i> 新增下级部门</button>
                            <button type="button" class="btn btn-default" id="EditDepartment" name="DepartmentBtn" onclick="departmentaction(this, 'edit')"> <i class=" fa fa-edit"></i> 编辑当前部门</button>
                            <button type="button" class="btn btn-default" id="DeleteDepartment" name="DepartmentBtn" onclick="departmentaction(this, 'delete')"> <i class=" fa fa-plus"></i> 删除当前部门</button>
                        </div>
                    </div>
                    <div class="box-body">

                        <div class="box-body">
                            <div class="form-group">
                                @Html.AntiForgeryToken()




                                <label for="DepartmentParentName" class="col-sm-2 control-label">上级部门</label>
                                <div class="col-sm-10">
                                    <input type="hidden" class="form-control" id="DepartmentParentID" name="DepartmentParentID" placeholder="上级部门">

                                    <input type="text" class="form-control" id="DepartmentParentName" name="DepartmentParentName" placeholder="上级部门">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="DepartmentName" class="col-sm-2 control-label">名称</label>
                                <div class="col-sm-10">
                                    <input type="hidden" class="form-control" id="ID" name="ID" placeholder="名称">
                                    <input type="text" class="form-control" id="DepartmentName" name="DepartmentName" placeholder="名称">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="DepartmentSort" class="col-sm-2 control-label">排序</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="DepartmentSort" name="DepartmentSort" placeholder="排序">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="DepartmentStatus" class="col-sm-2 control-label">是否可用</label>
                                <div class="col-sm-10">
                                    <input type="radio" name="DepartmentStatus" value="true">  启用
                                    <input type="radio" name="DepartmentStatus" value="false"> 禁用
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="DepartmentInfo" class="col-sm-2 control-label">说明</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="3" id="DepartmentInfo" name="DepartmentInfo" placeholder="说明 ..."></textarea>
                                </div>
                            </div>

                        </div>
                        <!-- /.box-body -->

                    </div>
                    <div class="box-footer" id="DepartmentFromFooter" style="display:none">
                        <div class="text-center">
                            <button type="button" class="btn btn-default" id="btnback" onclick="departmentaction(this, 'cancel')"><i class="fa fa-reply"></i> 返回</button>
                            <button type="submit" class="btn btn-primary" id="btnsave"><span class="fa  fa-save"></span> 保存</button>
                        </div>
                    </div>


                </div>
            </form>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
@section FootScripts {
    <script src="/plugins/bootstrap-treeview.js"></script>
    <script type="text/javascript" src="/plugins/iCheck/icheck.js"></script>
    <script type="text/javascript" src="/plugins/bootstrap-validator/js/bootstrapValidator.js"></script>
    <script type="text/javascript" src="/plugins/bootbox.min.js"></script>
    <script type="text/javascript" src="/Resource/js/SkyWeb.js"></script>
    <script type="text/javascript" src="/Resource/js/Department.js"></script>

    <script type="text/javascript">
        init();
    </script>
}