@{
    ViewBag.Title = "Video";
}
@section Topcss {
    <link href="~/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/jquery.dataTables.css" rel="stylesheet" type="text/css" />
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        列表页
        <small>advanced tables</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header">
                    <div class="pull-left">
                        <div class="btn-group">
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">模态框演示</button>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addModal"><i class="fa fa-plus"></i> 新增</button>
                            <button type="button" class="btn btn-info"><i class="fa fa-edit"></i> 高级查询</button>
                            <button type="button" class="btn btn-danger"><i class="fa fa-plus"></i> 删除</button>
</div>                      
                    </div>
                    <div class="pull-right">
                        <div class="input-group input-group-sm">
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> 查询</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered table-hover" id="bigDataList">
                        <thead>
                            <tr>
                                <th>
                                    用户id
                                </th>
                                <th>
                                    主叫
                                </th>
                                <th>
                                    识别码
                                </th>
                                <th>
                                    区域id
                                </th>
                                <th>
                                    服务类型
                                </th>
                                <th>
                                    服务组
                                </th>
                                <th>
                                    位置区码
                                </th>
                                <th>
                                    GPRS节点
                                </th>
                                <th>
                                    分配记数
                                </th>
                                <th>
                                    协议类型
                                </th>
                                <th>
                                    开始时间
                                </th>
                                <th>
                                    结束时间
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>  

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->





@section FootScripts {
    <script src="/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        var table1;

        //dataTable初始化对象  
        function bigDataTable(queryData) {
            table1 = $('#bigDataList').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "aaSorting": [[0, "asc"]], //默认的排序方式，第1列，升序排列  
                "info": true,
                "autoWidth": false,
                "destroy": true,
                "processing": true,
                "scrollX": true,   //水平新增滚动轴  
                //          "serverSide":true,    //true代表后台处理分页，false代表前台处理分页  
                "aLengthMenu": [10, 15, 20],
                "PaginationType": "full_numbers", //详细分页组，可以支持直接跳转到某页  
                //当处理大数据时，延迟渲染数据，有效提高Datatables处理能力  
                "deferRender": true,
                "ajax": {
                    url: "/User/AjaxPage?page=" + pageNumber,
                    dataSrc:
                            function (data) {
                                if (data.callbackCount == null) {
                                    data.callbackCount = 0;
                                }
                                //抛出异常  
                                if (data.sqlException) {
                                    alert(data.sqlException);
                                }
                                //查询结束取消按钮不可用  
                                $("#queryDataByParams").removeAttr("disabled");
                                return data.dataList;             //自定义数据源，默认为data  
                            },     //dataSrc相当于success，在datatable里面不能用success方法，会覆盖datatable内部回调方法  
                    type: "post",
                    data: queryData
                },
                columns: [
                  { data: 'user_ip' },
                  { data: 'calling' },
                  { data: 'imei' },
                  { data: 'cell_id' },
                  { data: 'service_type' },
                  { data: 'service_group' },
                  { data: 'lac' },
                  { data: 'sgsn' },
                  { data: 'assignment_count' },
                  { data: 'proto_type' },
                  { data: 'start_time' },
                  { data: 'end_time' },
                ],

                /*是否开启主题*/
                "bJQueryUI": true,
                "oLanguage": {    // 语言设置  
                    "sLengthMenu": "每页显示 _MENU_ 条记录",
                    "sZeroRecords": "抱歉， 没有找到",
                    "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                    "sInfoEmpty": "没有数据",
                    "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                    "sZeroRecords": "没有检索到数据",
                    "sSearch": "检索:",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "前一页",
                        "sNext": "后一页",
                        "sLast": "尾页"
                    }
                },
            });
        }
    </script>
}