@{
    ViewBag.Title = "Video";
}

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                系统字典
                <small>advanced tables</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Tables</a></li>
                <li class="active">Data tables</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-3">
                    <div class="box box-primary">
                        <div class="box-body">          
                            <div id="CategoryTreeview" class=""></div>
                        </div>                        
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
                <div class="col-xs-9">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default"><i class="fa fa-plus"></i> 新增顶级字典</button>
                                <button type="button" class="btn btn-default"><i class="fa fa-plus"></i> 新增下级字典</button>
                                <button type="button" class="btn btn-default"><i class="fa fa-edit"></i> 编辑当前字典</button>
                                <button type="button" class="btn btn-default"><i class="fa fa-plus"></i> 删除当前字典</button>
                            </div>
                        </div>
                        <div class="box-body">
                            <form class="form-horizontal">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">上级字典</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" id="inputEmail3" placeholder="上级字典">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-2 control-label">名称</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="DictionaryName" placeholder="名称">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-2 control-label">排序</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" id="inputPassword3" placeholder="排序">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-2 control-label">是否可用</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" id="inputPassword3" placeholder="排序">
                                        </div>
                                    </div>
                                  
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-2 control-label">说明</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" rows="3" placeholder="说明 ..."></textarea>
                                        </div>
                                    </div>
                                    
                                </div>
                                <!-- /.box-body -->
                            </form>
                            <div id="selectable-output"></div>
                        </div>
                        <div class="box-footer">
                            <div class="text-center">
                                <button type="button" class="btn btn-default"><i class="fa fa-reply"></i> 返回</button>
                                <button type="button" class="btn btn-primary"><span class="fa  fa-save"></span> 保存</button>
                            </div>
                        </div>


                    </div>
                    <!-- /.box -->
                </div>
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
@section FootScripts {
<script src="/plugins/bootstrap-treeview.js"></script>
<script type="text/javascript">

    $(function () {

        var defaultData = [
          {
              text: '用户类型',
              href: '#parent1',
              tags: ['4'],
              nodes: [
                {
                    text: 'Child 1',
                    href: '#child1',
                    tags: ['2']
                },
                {
                    text: 'Child 2',
                    href: '#child2',
                    tags: ['0']
                }
              ]
          },
          {
              text: '文章类型',
              href: '#parent2',
              tags: ['0'],
              nodes: [
                {
                    text: 'Child 1',
                    href: '#child1',
                    tags: ['2'],
                    nodes: [
                      {
                          text: 'Grandchild 1',
                          href: '#grandchild1',
                          tags: ['0']
                      },
                      {
                          text: 'Grandchild 2',
                          href: '#grandchild2',
                          tags: ['0']
                      }
                    ]
                },
                {
                    text: 'Child 2',
                    href: '#child2',
                    tags: ['0']
                }
              ]
          }
        ];

      

        var initSelectableTree = function () {
            return $('#CategoryTreeview').treeview({
                levels: 1,
                data: defaultData,
                multiSelect: $('#chk-select-multi').is(':checked'),
                onNodeSelected: function (event, node) {
                    $('#DictionaryName').val(node.text);
                    //  $('#selectable-output').prepend('<p>' + node.text + node.tags + ' was selected</p>');
                    alert('选中');
                },
                onNodeUnselected: function (event, node) {
                    //$('#selectable-output').prepend('<p>' + node.text + node.tags + ' was unselected</p>');
                    alert('不选');
                },
                onNodeCollapsed:function (event, node)
                {
                    alert('关闭字段');
                    
                },
                onNodeExpanded: function (event, node)
                {
                    alert('展开字段');
                    
                }
            });
        };
        var $selectableTree = initSelectableTree();

    });
</script>
    }