@{
    ViewBag.Title = "Video";
}
@section Topcss {
    <link href="~/plugins/bootstrap-validator/css/bootstrapValidator.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/iCheck/square/green.css" rel="stylesheet" type="text/css" />
}

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                系统字典
                <small>advanced tables</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Tables</a></li>
                <li class="active">Data tables</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-3">
                    <div class="box box-primary">
                        <div class="box-body">          
                            <div id="CategoryTreeview" class=""></div>
                        </div>                        
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
                <div class="col-xs-9">
                    <form class="form-horizontal" id="Category">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default" id="AddTopCategory" name="CategoryBtn" onclick="categoryaction(this,'addtop')"> <i class="fa fa-plus"></i> 新增顶级字典</button>
                                    <button type="button" class="btn btn-default" id="AddNextCategory" name="CategoryBtn" onclick="categoryaction(this, 'addnext')"> <i class=" fa fa-plus"></i> 新增下级字典</button>
                                    <button type="button" class="btn btn-default" id="EditCategory" name="CategoryBtn" onclick="categoryaction(this, 'edit')"> <i class=" fa fa-edit"></i> 编辑当前字典</button>
                                    <button type="button" class="btn btn-default" id="DeleteCategory" name="CategoryBtn" onclick="categoryaction(this, 'delete')"> <i class=" fa fa-plus"></i> 删除当前字典</button>
                                </div>
                            </div>
                            <div class="box-body">

                                <div class="box-body">
                                    <div class="form-group">

                                        <input type="hidden" class="form-control" id="thisID" name="thisID" placeholder="名称">
                                        <input type="hidden" class="form-control" id="thisCategoryName" name="thisCategoryName" placeholder="名称">


                                        <label for="inputEmail3" class="col-sm-2 control-label">上级字典</label>
                                        <div class="col-sm-10">
                                            <input type="hidden" class="form-control" id="CategoryParentID" name="CategoryParentID" placeholder="上级字典">

                                            <input type="text" class="form-control" id="CategoryParentName" name="CategoryParentName" placeholder="上级字典">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-2 control-label">名称</label>
                                        <div class="col-sm-10">
                                            <input type="hidden" class="form-control" id="ID" name="ID" placeholder="名称">
                                            <input type="text" class="form-control" id="CategoryName" name="CategoryName" placeholder="名称">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-2 control-label">排序</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="CategorySort" placeholder="排序">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-2 control-label">是否可用</label>
                                        <div class="col-sm-10">
                                            <input type="radio" name="CategoryStatus" value="true">  启用
                                            <input type="radio" name="CategoryStatus" value="false"> 禁用
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-2 control-label">说明</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" rows="3" id="CategoryInfo" placeholder="说明 ..."></textarea>
                                        </div>
                                    </div>

                                </div>
                                <!-- /.box-body -->

                            </div>
                            <div class="box-footer">
                                <div class="text-center">
                                    <button type="button" class="btn btn-default" id="btnback"><i class="fa fa-reply"></i> 返回</button>
                                    <button type="submit" class="btn btn-primary" id="btnsave"><span class="fa  fa-save"></span> 保存</button>
                                </div>
                            </div>


                        </div>
                    </form>
                    <!-- /.box -->
                </div>
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
@section FootScripts {
<script src="/plugins/bootstrap-treeview.js"></script>
<script type="text/javascript" src="/plugins/iCheck/icheck.js"></script>
<script type="text/javascript" src="/plugins/bootstrap-validator/js/bootstrapValidator.js"></script>
<script type="text/javascript">

    //初始化页面

    //加载树形菜单
    LoadTreeDictionary();
    //加载icheck的样式，初始化加载一次，每一次刷新都需要加载一次，所以封装一个方法。
    icheckcss("CategoryStatus");


   //以下部分可以封装为一个文件

    //加载icheck的样式，初始化加载一次，每一次刷新都需要加载一次，所以封装一个方法。
    function icheckcss(name) {
        $('[name=' + name + ']').iCheck({
            labelHover: false,
            cursor: true,
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
            increaseArea: '20%'
        });

    }

    //curd查按钮操作
    function categoryaction(btn, ac) {
        $('[name="CategoryBtn"]').removeClass("btn-primary").addClass("btn-default");
        $(btn).removeClass("btn-default").addClass("btn-primary");
        //$('#Category input').removeAttr("disabled");
        //$('#Category textarea').removeAttr("disabled");
        icheckcss("CategoryStatus");

        var thisCategoryName = $('#thisCategoryName').val();
        var thisID = $('#thisID').val();

        if (ac == 'addtop') {
            $('#CategoryParentName').val('根节点');;
            $('#CategoryParentID').val(0);
            $('#CategoryName').val('').removeAttr("disabled");
            $('#CategorySort').val('').removeAttr("disabled");
            $('#CategoryInfo').val('').removeAttr("disabled");
            $('input[type="radio"][name="CategoryStatus"]').removeAttr("disabled");
            icheckcss("CategoryStatus");

        }
        if (ac == 'addnext') {
            if (thisID == 0)
            { alert('你尚未没有选择节点！'); }
            else
            {
                $('#CategoryParentName').val(thisCategoryName);;
                $('#CategoryParentID').val(thisID);
                $('#CategoryName').val('').removeAttr("disabled");
                $('#CategorySort').val('').removeAttr("disabled");
                $('#CategoryInfo').val('').removeAttr("disabled");
                $('input[type="radio"][name="CategoryStatus"]').removeAttr("disabled");
                icheckcss("CategoryStatus");
            }



        }
        if (ac == 'edit') {
            //需要重新获取这个栏目
            if (thisID == 0)
            { alert('你尚未没有选择节点！'); }
            else
            {
                $.ajax({
                    type: "get",
                    url: "/Category/GetOneCategory",
                    data: {
                        id: thisID
                    },
                    dataType: "json",
                    success: function (result) {
                        // $('#thisCategoryName').val(result.CategoryName).prop("disabled", true);
                        //  $('#thisID').val(result.ID).prop("disabled", true);
                        $('#CategoryParentName').val(result.CategoryParentName).prop("disabled", true);
                        $('#CategoryParentID').val(result.CategoryParentID).prop("disabled", true);
                        $('#CategoryName').val(result.CategoryName).removeAttr("disabled");
                        $('#ID').val(result.ID).removeAttr("disabled");
                        $('#CategorySort').val(result.CategorySort).removeAttr("disabled");
                        $('#CategoryInfo').val(result.CategoryInfo).removeAttr("disabled");
                        $('input[type="radio"][name="CategoryStatus"][value=' + result.CategoryStatus.toString() + ']').prop("checked", "checked");
                        $('[name="CategoryStatus"]').removeAttr("disabled");
                        icheckcss("CategoryStatus");
                    },
                    error: function () {
                        alert("树形结构加载失败！")
                    }
                });
            }


        }
        if (ac == 'delete') {
            //弹出确认对话框即可
            if (thisID == 0)
            { alert('你尚未没有选择节点！'); }
            else
            {
                alert('你确定要删除这个节点吗！' + thisCategoryName);
            }

        }


    }

    //加载树形菜单
    function LoadTreeDictionary()
    {
            $.ajax({
                type: "get",
                url: "/category/TreeJson",
                data: {
                    id:0
                },
                dataType: "json",
                success: function (result) {
                    $('#CategoryTreeview').treeview({
                        levels: 1,
                        data: result,
                        multiSelect: $('#chk-select-multi').is(':checked'),
                        onNodeSelected: function (event, node) {

                            $('[name="CategoryBtn"]').removeClass("btn-primary")
                            dictionary(node.id);
                          //  $('#DictionaryName').val(node.text);
                            //  $('#selectable-output').prepend('<p>' + node.text + node.tags + ' was selected</p>');
                           // alert('选中');
                        },
                        onNodeUnselected: function (event, node) {
                            //$('#selectable-output').prepend('<p>' + node.text + node.tags + ' was unselected</p>');
                            //  alert('不选');
                            $('#thisID').val('0');

                        },
                        onNodeCollapsed: function (event, node) {
                           // alert('关闭字段');

                        },
                        onNodeExpanded: function (event, node) {
                           // alert('展开字段');

                        }
                    });
                },
                error: function () {
                    alert("树形结构加载失败！")
                }
            });

    }

    //右侧加载选中项目
    function dictionary(nodeid) {
        $('[name="CategoryStatus"]').removeAttr("checked");
        $.ajax({
            type: "get",
            url: "/Category/GetOneCategory",
            data: {
                id: nodeid
            },
            dataType: "json",
            success: function (result) {

                $('#CategoryParentName').val(result.CategoryParentName).prop("disabled", true);
                $('#CategoryParentID').val(result.CategoryParentID).prop("disabled", true);
                $('#CategoryName').val(result.CategoryName).prop("disabled", true);
                $('#ID').val(result.ID).prop("disabled", true);
                $('#thisCategoryName').val(result.CategoryName).prop("disabled", true);
                $('#thisID').val(result.ID).prop("disabled", true);
                $('#CategorySort').val(result.CategorySort).prop("disabled", true);
                $('#CategoryInfo').val(result.CategoryInfo).prop("disabled", true);
                $('input[type="radio"][name="CategoryStatus"][value=' + result.CategoryStatus.toString() + ']').prop("checked", "checked");
                $('[name="CategoryStatus"]').prop("disabled", true);
                icheckcss("CategoryStatus");
            },
            error: function () {
                alert("树形结构加载失败！")
            }
        });

    }

   
</script>
    }