@{
    ViewBag.Title = "Video";
}  
@section Topcss {
    <link href="~/plugins/bootstrap-validator/css/bootstrapValidator.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/iCheck/square/green.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/bootstrap-fileinput/css/fileinput.css" rel="stylesheet" type="text/css" />
}  

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        General Form Elements
        <small>Preview</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- right column -->
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">添加模板（带单选，多选，下拉，上传，编辑器）</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal">
                    <div class="box-body">
                        
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">文本框</label>
                                <div class="col-sm-10  input-group">
                                    <input type="email" class="form-control" id="inputEmail3" placeholder="用户名">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">单选框</label>
                                <div class="col-sm-10 input-group" style="padding-top:7px;">
                                    <input type="radio" class="" name="Status" value="true"><b>&nbsp;&nbsp;启用&nbsp;&nbsp;</b>
                                    <input type="radio" class="" name="Status" value="false">&nbsp;&nbsp;禁用&nbsp;&nbsp;
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">复选框</label>
                                <div class="col-sm-10  input-group" style="padding-top:7px;">
                                    <input type="checkbox" class="" name="Fuxuankuang" value="true"><b>&nbsp;&nbsp;启用&nbsp;&nbsp;</b>
                                    <input type="checkbox" class="" name="Fuxuankuang" value="false">&nbsp;&nbsp;禁用&nbsp;&nbsp;
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">文件上传</label>
                                <div class="col-sm-10  input-group">
                                    <input id="file-0" class="file" type="file" multiple data-min-file-count="1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">下拉框</label>
                                <div class="col-sm-10  input-group">
                                    <select class="form-control select2" style="width: 100%;">
                                        <option selected="selected">Alabama</option>
                                        <option>Alaska</option>
                                        <option>California</option>
                                        <option>Delaware</option>
                                        <option>Tennessee</option>
                                        <option>Texas</option>
                                        <option>Washington</option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">文本域</label>
                                <div class="col-sm-10  input-group">
                                    <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">编辑器</label>
                                <div class="col-sm-10  input-group">
                                    <script id="editor" type="text/plain" style="width:800px;height:500px;">
                                    </script>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-default">取消</button>
                        <button type="submit" class="btn btn-info pull-right">确定</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
@section FootScripts {
    <script type="text/javascript" src="~/plugins/iCheck/icheck.js"></script>
    <script type="text/javascript" src="~/plugins/bootstrap-switch/js/bootstrap-switch.js"></script>
    <script type="text/javascript" src="~/plugins/bootstrap-validator/js/bootstrapValidator.js"></script>
    <script type="text/javascript" src="~/plugins/bootstrap-fileinput/js/fileinput.js"></script>
    <script type="text/javascript" src="~/plugins/bootstrap-fileinput/js/fileinput_locale_zh.js"></script>
    <script type="text/javascript" charset="gbk" src="~/plugins/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="gbk" src="~/plugins/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="gbk" src="~/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {


            $('[type="radio"],[type="checkbox"]').iCheck({
                labelHover: false,
                cursor: true,
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
                increaseArea: '20%'
            });
       

            $('[type="file"]').fileinput({
                'allowedFileExtensions': ['jpg', 'png', 'gif'],
                uploadUrl: '/File/Upload', // you must set a valid URL here else you will get an error
                allowedFileExtensions : ['jpg', 'png','gif'],
                overwriteInitial: false,
                maxFileSize: 1000,
                maxFilesNum: 10,
                slugCallback: function (filename) {
                    return filename.replace('(', '_').replace(']', '_');
                }
            });


            var ue = UE.getEditor('editor');


        });

    </script>
}